# Step 1 - Scraping

# Mission to Mars

# NASA Mars News

In [1]:
import os
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import time

from selenium import webdriver

In [40]:
executable_path = {"executable_path" : "chromedriver.exe"}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# Go to https://mars.nasa.gov/news NASA Mars News
url_nasa = "https://mars.nasa.gov/news/"
browser.visit(url_nasa)

In [4]:
#Pause Python Code
time.sleep(1)

In [5]:
# Scrape page into Soup
nasa_html = browser.html
nasa_soup = bs(nasa_html, "html.parser")

In [8]:
# Collect latest news title and paragragh text
nasa_news_title = nasa_soup.find('div', class_='content_title').text
nasa_news_p = nasa_soup.find('div', class_='article_teaser_body').text

mars_data = {}
print(f"Article Title: {nasa_news_title}")
print(f"Paragraph: {nasa_news_p}")
mars_data["nasa_news_title"] = nasa_news_title
mars_data["nasa_news_p"] = nasa_news_p

Article Title: InSight Lands Praise and a Proclamation from LA County
Paragraph: Several members of the Mars InSight team accepted a proclamation on behalf of the mission from L.A. County Board of Supervisors on Tuesday, Feb. 19.

# JPL  Mars Space Images - Featured Image

In [9]:
executable_path = {"executable_path" : "chromedriver.exe"}
browser = Browser('chrome', **executable_path, headless=False)

In [10]:
# Go to https://www.jpl.nasa.gov
url_jpl = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url_jpl)

In [11]:
# Scrape page into Soup
jpl_html = browser.html
jpl_soup = bs(jpl_html, "html.parser")

In [12]:
browser.click_link_by_partial_text('FULL IMAGE')
time.sleep(1)

In [13]:
browser.click_link_by_partial_text('more info')

In [14]:
new_jpl_html = browser.html
new_jpl_soup = bs(new_jpl_html, 'html.parser')
url_image = new_jpl_soup.find("img", class_="main_image")["src"]
featured_image_url = url_jpl + url_image  
print(featured_image_url)
mars_data["featured_image_url"] = featured_image_url

https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars/spaceimages/images/largesize/PIA16606_hires.jpg

# Mars Weather

In [17]:
# Mars Weather twitter account
url_mars_weather = "https://twitter.com/marswxreport?lang=en"
browser.visit(url_mars_weather)

In [18]:
# Scrape the latest Mars weather tweet from the page
weather_html = browser.html
soup = bs(weather_html, "html.parser")
tweets= soup.find_all('div', class_="js-tweet-text-container")

# Want to find only the latest tweet that provides the weather on Mars
for tweet in tweets:
    mars_weather = tweet.find('p').text
    if 'InSight' in mars_weather:
        print(mars_weather)
        break
    else:
        pass
mars_data["mars_weather"] = mars_weather

InSight sol 89 (2019-02-26) low -95.1ºC (-139.2ºF) high -14.4ºC (6.1ºF)
winds from the SW at 4.3 m/s (9.6 mph) gusting to 12.4 m/s (27.8 mph)
pressure at 7.20 hPapic.twitter.com/h8gODY5bfk

# Mars Facts

In [19]:
# Visit Mars Facts Webpage
url_mars_facts = "https://space-facts.com/mars/"

In [20]:
# Scrape the table containing facts about the planet including Diameter, Mass, etc.
mars_fact_table = pd.read_html(url_mars_facts)

In [21]:
# Create dataframe from table
mars_fact_df = mars_fact_table[0]
mars_fact_df.columns = ['Measurement', 'Fact']
mars_fact_df.head()

            Measurement                           Fact
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [22]:
# Set the index to the first column
mars_fact_df.set_index('Measurement', inplace=True)
mars_fact_df.head()

                                               Fact
Measurement
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)

In [23]:
# Use html method to generate HTML table from the dataframe.
mars_html_table = mars_fact_df.to_html()
mars_html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Fact</th>\n    </tr>\n    <tr>\n      <th>Measurement</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [24]:
# Strip unwanted newlines to clean up the table.
mars_html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Fact</th>    </tr>    <tr>      <th>Measurement</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [27]:
# Save the table directly to a file.
mars_fact_df.to_html('mars_table.html')
mars_facts = mars_html_table
mars_data["mars_facts"] = mars_facts

# Mars Hemispheres

In [41]:
# Visit the USGS Astrogeology site to obtain high resolution images for each of Mar's hemispheres
url_usgs = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url_usgs)

In [42]:
# Parse HTML with Beautiful Soup
hemisphere_html = browser.html
hemi_soup = bs(hemisphere_html, "html.parser")

In [43]:
# Retreive all items that contain mars hemispheres information
hemi_images = hemi_soup.find_all('div', class_='item')

In [44]:
# Save the url strings in list  
hemisphere_image_urls = []

In [45]:
# Store the base url for the website
hemispheres_base_url = 'https://astrogeology.usgs.gov'

In [46]:
# Loop through the items previously stored
for i in hemi_images: 
    
# Store title
    title = i.find('h3').text
    
# Store link that leads to full image website
    relative_img_url = i.find('a', class_='itemLink product-item')['href']
    
# Visit the link that contains the full image website 
    browser.visit(hemispheres_base_url + relative_img_url)
    
# HTML Object of individual hemisphere information website 
    relative_img_html = browser.html
    
# Parse HTML with Beautiful Soup for every individual hemisphere information website 
    hemi_soup = bs(relative_img_html, 'html.parser')
    
# Retrieve full image source 
    img_url = hemispheres_base_url + hemi_soup.find('img', class_='wide-image')['src']
    
# Append the retreived information into a list of dictionaries 
    hemisphere_image_urls.append({"title" : title, "img_url" : img_url})

In [47]:
# Display hemisphere_image_urls
hemisphere_image_urls
mars_data["hemisphere_images"] = hemisphere_image_urls
mars_data["hemisphere_images"]
print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]